@import '../global/variables';
.grass{
  background-color: $grass_green;

}


.body {
  height: 100vh;
  margin: 0;
}
.all{
  height:100%;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  background-color: $red_brick;

  .map{
    font-size: 16px; /*reset font size*/
    height: 100vh;
    width: 200vh;
    //display: inline-block;

    .bed{
      height: 100%;
      width: 100%;
      background-color: $garden_soil;
    }
    .row-parking{
      display: flex;
      height: 20%;
      .parking{
        height: 100%;
        background-color: $grey;
        border-bottom: 2px dashed black;
        border-right: 2px dashed black;

      }
      .compost-area{
        height: 100%;
        background-color: $grass_green;
        .fence__bed{
          height: 100%;
          background-color: $grey;
          padding: 0% 2% 0 0;
        }
      }
    }
  }
}

