<% content_for (:title) do %>
  <title>Home</title>
<% end %>

<div class="body">
  <div class="all">
    <div class="map">
      <div class="row-parking">
        <div class="parking col-9">
          <h1 class="text--garden_soil m-0">Plan du Jardin</h1>
        </div>
        <div class="compost-area col-3 d-flex">
          <div class="fence__bed col-3">
            <div class="bed">
            </div>
          </div>
          <div class="inner-bed col-9">
            <div class="bed">
            </div>
          </div>
        </div>
      </div>
      <div class="bg--grass_green height-100">
      </div>
    </div>
  </div>
</div>
