<% content_for (:title) do %>
  <title>Home</title>
<% end %>

<div class="body">
  <div class="all">
    <div class="map">
      <%= render 'partials/map_partials/parking_row' %>
      <%= render 'partials/map_partials/main_garden' %>
    </div>
  </div>
</div>
