@use "sass:math";

$heightIterations: 100; // 100 must be divisible by iterations
$widthIterations: 12;
@for $i from 1 through $heightIterations {
  $value: $i * math.div(100, $heightIterations); // not an error compiles correctly and is suggestion to replace deprecated use of division
  .height-#{$value}vh{
    height: 1vh * $value;
    &.width--double-height{
      width: 1vh * $value * 2;
    }
  }
  .height-#{$value}{
    height: 1% * $value;
  }
}

@for $i from 1 through $widthIterations { // is equivalent to bootstrap col- class
  $value: math.div($i,$widthIterations) *100;
  .width-#{$i}{
    width: 1% * $value;
    & .flex{
      flex: 0 0 auto;
    }
  }
  .h-#{$i} {
    height: 1% * $value;

    & .flex {
      flex: 0 0 auto;
    }
  }
}