
$grass_green:#2B933C;
$blue_deep:#2B4D93;
$brown_pastel:#93702B;
$purple_compliment_grass_green:#932B81;
$violet:#3C2B93;
$red_brick: #933C2B;

$grey: grey;
$garden_soil: #270414;

$colors:('grass_green':$grass_green,
        'blue_deep':$blue_deep,
        "brown_pastel":$brown_pastel,
        "purple_compliment_grass_green":$purple_compliment_grass_green,
        "violet":$violet,
        "red_brick": $red_brick,
        "grey": $grey,
        "garden_soil": $garden_soil);
