<div class="bg--grass_green main-garden d-flex height-75">
  <div class="width-9 height-100 entrance-section">
    <div class="parking-side-section height-40"></div>
    <div class="path height-20 bg--grey"></div>
    <div class="building-side-section height-40"></div>
  </div>
  <div class="d-fex circle-bed width-3 height-100 ">
    <div class="circle-bed__top height-40">
      <div class="c-b_top__bed height-50 bg--garden_soil"></div>
      <div class="c-b_top__bed-path d-flex height-50 bg--grey">
        <div class="c-b_t_bed-path__bed entrence bg--garden_soil width-3"></div>
        <div class="c-b_t_bed-path__path bg--grey width-6"></div>
        <div class="c-b_t_bed-path__bed end bg--garden_soil width-3"></div>
      </div>
    </div>
    <div class="circle-bed__center height-20 d-flex">
      <div class="c-b_center__path entrance bg--grey width-3"></div>
      <div class="c-b_center__path entrance bg--grey width-2"></div>
      <div class="c-b_center__center-bed bg--garden_soil width-2"></div>
      <div class="c-b_center__path bg--grey end width-2"></div>
      <div class="c-b_center__bed end bg--garden_soil width-3"></div>
    </div>
    <div class="circle-bed__bottom height-40">
      <div class="c-b_bottom__bed-path d-flex height-50 bg--grey">
        <div class="c-b_b_bed-path__bed entrence bg--garden_soil width-3"></div>
        <div class="c-b_b_bed-path__path bg--grey width-6"></div>
        <div class="c-b_b_bed-path__bed end bg--garden_soil width-3"></div>
      </div>
      <div class="c-b_bottom__bed height-50 bg--garden_soil"></div>
    </div>
  </div>
</div>