<div class="row-parking height-25">
<div class="parking-area width-9">
  <div class="parking height-70">
    <h1 class="text--garden_soil m-0">Plan du Jardin</h1>
  </div>
  <div class="h-fence__bed d-flex height-30">
    <div class="width-9">
      <div class="bed"></div>
    </div>
    <div class="width-1">
      <div class="compost-bin"></div>
    </div>
    <div class="width-2">
      <div class="bed"></div>
    </div>
  </div>
</div>
<div class="compost-area width-3 d-flex">
  <div class="v-fence__bed width-3 ">
    <div class="bed">
    </div>
  </div>
  <div class="inner-bed width-9">
    <div class="bed">
    </div>
  </div>
</div>
</div>