<div id="<%= dom_id bed %>">
  <p>
    <strong>Name:</strong>
    <%= bed.name %>
  </p>

  <p>
    <strong>Bed type:</strong>
    <%= bed.bed_type %>
  </p>

  <p>
    <strong>Last watered:</strong>
    <%= bed.last_watered %>
  </p>

</div>
